<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    <!-- master css -->
    <link rel="stylesheet" href="{% static 'social_clone_project/css/master.css' %}">

    <title>Space Social</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark mynav" role="navigation" id="navbar">
        <div class="container">
            <a class="navbar-brand mynav" href="{% url 'home' %}">Space Social</a>

            <ul class="nav justify-content-end">
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link active" style="color: #66ffff;" href="#">Post</a></li>
                    <li class="nav-item"><a class="nav-link active" style="color: #66ffff;" href="#">Groups</a></li>
                    <li class="nav-item"><a class="nav-link active" style="color: #66ffff;" href="#">Create Group</a></li>
                    <li class="nav-item"><a class="nav-link active" style="color: #66ffff;" href="{% url 'accounts:logout' %}">Log Out</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link active" style="color: #66ffff;" href="#">Groups</a></li>
                    <li class="nav-item"><a class="nav-link active" style="color: #66ffff;" href="{% url 'accounts:login' %}">Log In</a></li>
                    <li class="nav-item"><a class="nav-link active" style="color: #66ffff;" href="{% url 'accounts:signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container mycontent">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>