{% extends 'groups/group_base.html' %}
{% load bootstrap4 %}

<div class="container">
    {% block group_content %}
    
        <h4>Create new group</h4>
        <form method="POST" action="{% url 'groups:create' %}" id="groupForm" class="form">
            {% csrf_token %}
            <br>
            <br>
            <br>
            {% bootstrap_form form layout='inline' %}
            <input type="submit" class="btn btn-primary btn-large" value="Create">
        </form>

    {% endblock %}
</div>